
body{
  background-color:rgb(109, 29, 201);
}
table{
  margin:10px auto;
}
td.card{
  width:240px;
  height:360px;
  margin:5px;
  background-size:cover;
}
/*以下を追記*/
td.card.back{
  background-image:url(../images/z01.gif) !important;
}
